<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>jitpack.io</id>
            <username>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</username>
            <password>.</password>
        </server>
    </servers>
</settings>